<ul class="m-5vw">
<% @users.each do |user| %>
    <li class="flex-container mb-5vh border-solid">
        <%= image_tag(user.photo, :class => "w-15")%>
        <div class="flex-container flex-col m-20 space-btw w-100">
          <h2><%=link_to user.name, user%></h2>
          <p class="align-right">Number of posts: <%= user.postsCounter%></p>
        </div>
    <li>
<% end %>
<ul>
